<a href="https://colab.research.google.com/github/Ethan-Jeong/test_visuallization/blob/master/autompg_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 로딩

In [ ]:
import pandas as pd

df = pd.read_csv('./auto-mpg_1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   18.0                       397 non-null    float64
 1   8                          397 non-null    int64
 2   307.0                      397 non-null    float64
 3   130.0                      397 non-null    object
 4   3504.                      397 non-null    float64
 5   12.0                       397 non-null    float64
 6   70                         397 non-null    int64
 7   1                          397 non-null    int64
 8   chevrolet chevelle malibu  397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [ ]:
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    float64
 5   acceleration  397 non-null    float64
 6   model year    397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [ ]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         397         397
unique         94         305
top         150.0  ford pinto
freq           22           6

## replace()

In [ ]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
54.00     1
108.0     1
158.0     1
66.00     1
89.00     1
Name: horsepower, Length: 94, dtype: int64

In [ ]:
df['horsepower'].unique()

array(['165.0', '150.0', '140.0', '198.0', '220.0', '215.0', '225.0',
       '190.0', '170.0', '160.0', '95.00', '97.00', '85.00', '88.00',
       '46.00', '87.00', '90.00', '113.0', '200.0', '210.0', '193.0', '?',
       '100.0', '105.0', '175.0', '153.0', '180.0', '110.0', '72.00',
       '86.00', '70.00', '76.00', '65.00', '69.00', '60.00', '80.00',
       '54.00', '208.0', '155.0', '130.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
df_horsepower = df['horsepower'].replace(to_replace='?',value=None,inplace=False)
type(df_horsepower)
# df_horsepower = df['horsepower'].replace(to_replace='?',value=None , inplace=False)

pandas.core.series.Series

In [ ]:
df_horsepower.unique()

array(['165.0', '150.0', '140.0', '198.0', '220.0', '215.0', '225.0',
       '190.0', '170.0', '160.0', '95.00', '97.00', '85.00', '88.00',
       '46.00', '87.00', '90.00', '113.0', '200.0', '210.0', '193.0',
       '100.0', '105.0', '175.0', '153.0', '180.0', '110.0', '72.00',
       '86.00', '70.00', '76.00', '65.00', '69.00', '60.00', '80.00',
       '54.00', '208.0', '155.0', '130.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
type(df['horsepower'])

pandas.core.series.Series

In [ ]:

df_horsepower = df['horsepower'].astype('float') # 데이터 형 변경

ValueError: ignored

In [ ]:
df['horsepower'].mean()

In [ ]:
df_horsepower.unique()

In [ ]:
df['horsepower'] = df_horsepower.fillna(104)
df.info()

In [ ]:
df['name'].unique()

In [ ]:
df['origin'].unique()

## 분류와 연속 컬럼 구분

In [ ]:
df.head(8)

    mpg  cylinders  displacement  ... model year  origin                name
0  15.0          8         350.0  ...         70       1   buick skylark 320
1  18.0          8         318.0  ...         70       1  plymouth satellite
2  16.0          8         304.0  ...         70       1       amc rebel sst
3  17.0          8         302.0  ...         70       1         ford torino
4  15.0          8         429.0  ...         70       1    ford galaxie 500
5  14.0          8         454.0  ...         70       1    chevrolet impala
6  14.0          8         440.0  ...         70       1   plymouth fury iii
7  14.0          8         455.0  ...         70       1    pontiac catalina

[8 rows x 9 columns]

### check columns - DataFrame.head(5)
- 연속형 : displacement , horsepower , weight , acceleration(소숫점으로 판단)  , mpg -> Standard Scaler
- 분류형 : model year , cylinders , origin  -> One-hot Encoding / ( 제외  :name )
- 중립형 :

In [ ]:
df.head(5)

    mpg  cylinders  displacement  ... model year  origin                name
0  15.0          8         350.0  ...         70       1   buick skylark 320
1  18.0          8         318.0  ...         70       1  plymouth satellite
2  16.0          8         304.0  ...         70       1       amc rebel sst
3  17.0          8         302.0  ...         70       1         ford torino
4  15.0          8         429.0  ...         70       1    ford galaxie 500

[5 rows x 9 columns]

In [ ]:
df['mpg'].describe(include='all') # 판단할수 없음 object 만 판단가능

In [ ]:
df['mpg'].value_counts() # 소숫점이 있으면 연속형이라고 판단 가능

In [ ]:
df['cylinders'].value_counts() # 개체 종류 수가 적음으로 분류라고 판단

In [ ]:
df['origin'].value_counts() # 개체 종류 수가 적음으로 분류라고 판단

In [ ]:
df['mpg'].describe(include='all')

In [ ]:
df['mpg'].value_counts()

## 정규화 단계

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

표준정규화 : z = ( x - u ) s 

z : Standard Division / 
s : 표준 편차 /
x : Score() /
u : Mean() /

In [ ]:
Y = df['mpg']
X_continus = df[['displacement' , 'horsepower' , 'weight' , 'acceleration']]
X_category = df[['model year', 'cylinders' , 'origin']]

In [ ]:
from sklearn import preprocessing

In [ ]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [ ]:
scaler.fit(X_continus) # 교육단계

ValueError: ignored

In [ ]:
X = scaler.transform(X_continus)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X,Y)

NameError: ignored